
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

.anime{
   
    transition: 0.8s;
    opacity: 0;
    transition-property: opacity;
  
}
.anime.animel{
    opacity: 1;

  
}
header{
    height: 58vw;
    background-color: transparent;
    position: absolute;
    width: 100vw;
    color: hsl(188,47%,20%);
    
    /*border: 1px solid black;*/
    
}
.header{
    background: linear-gradient( to right, hsla(188,47%,20%,1),hsla(188,47%,20%,1),hsla(188,47%,20%,0.5),hsla(188,47%,20%,0.1),hsla(188,47%,20%,0)),
    url("/images/laptop-3196481_1920.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    height: 58vw;
    overflow: hidden;
}
.pnavlinks{
    display: none;
}


.visible{
    display: none;
}
.headerp{
     display: none;
    height: 62vw;
    width: 62vw;
    margin-left: 40%;
    /*background-color: hsla(229,43%,30%,0.8);*/
    background-color: hsl(40,26%,68%);
  
    border-radius: 0%;
    margin-top: -5vw;
}
.headerpin{
    background-color:hsl(188,47%,20%);
    height: 60vw;
    width: 60vw;
    background-image: url("/images/enkarip1.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0%;
}
.test{
    border: 1px solid black;
    height: 1vw;
    width: 1vw;
    border-radius: 0%;
    margin-top: -10vw;

}
.navbar{
    height: 6vw;
    background-color: white;
    display: flex;
    width: 100vw;
    background-color: transparent;
   
    
 
    
}
.navbar1{
 
    width: 30%;
}
.navbar2{
   
    width: 70%;
}
.navbar1 img{
    height: 4vw;
    margin: 4%;
   margin-top: 1vw;
  
    margin-left: 2%;
    
}
/*
.navbar1 h1{
   font-family: 'Roboto', sans-serif;
    color: hsl(229,43%,30%);
  
    margin-left: 6%;
    font-size: 2vw;
}*/

#navbutton{
    display: none;
}
.navlinks{
   
    width: 73%;
    margin-left: 44%;
    margin-top: 1.3vw;
    display: flex;
  
    
}
#ppn1{
    margin-left: 2vw;
}
#navbeta{
    border: 1px solid blueviolet;
    font-size: 0.7vw;
    background-color:blueviolet;
    padding: 0.1vw;
    border-radius: 0.3vw;
}
.navbar2 a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.2vw;
    font-weight: 600;
}
.navbar2 a:not(:last-child){
    margin-left: 1vw;
}
.navbar2 a:hover{
    color: hsl(40,26%,68%);
}
.signup{
    margin-left: 1vw;
    font-family: 'Roboto', sans-serif;
    height: 2.5vw;
    width: 8vw;
    font-size: 1.2vw;
    border-radius: 7vw;
    border: 1px solid white;
    font-weight: 600;
    color: hwb(229 17% 57%);
    margin-top: -0.5vw;
    
    
}
.signup:hover{
    background-color:hsl(40,26%,68%) ;
 border: 1px solid hsl(188,47%,20%);

    /*
 background-color: hsl(229,43%,30%);
 border: 1px solid hsl(229,43%,30%);
 hsl(188,47%,20%)
 */
}
.head{
  
    width: 40%;
    margin-top: 8%;
    margin-left: 7%;
    transition: 1.5s;
    transition-property: margin-top;
  /*  border: 1px solid hsl(40,26%,68%,0.2);
    backdrop-filter: blur(20px);
    padding: 1vw;*/
    border-radius: 0.3vw;
    
}
.head:hover{
    margin-top: 7%;
}
.head h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3.8vw;
    height: 2.2vw;
    color: white;

}
.head .headdeskp span{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.19vw;
    color: white;
    
}
.head .headphones span{
    display: none;
}
.head span:not(:first-child){
    margin-top: 0.1vw;
}
.head button{
   
    font-family: 'Roboto', sans-serif;
    height: 2.5vw;
    width: 10vw;
    font-size: 1.2vw;
    border: 1px solid hsl(40,26%,68%);
   /* border: 1px solid hsl(188,47%,20%dfdfdsfd);*/
    font-weight: 600;
    /*background-color: hsl(188,47%,20%);*/
    background-color: hsl(40,26%,68%);
    margin-top: 3vw; 
    color: white;
    border-radius: 0.1vw;
}

.propsp{
   background-color: hsla(45, 44%, 80%,0.8);
   padding-bottom: 4vw;
   
}
.setter{
    visibility: hidden;
    opacity: 0;
}

.propsp h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3.4vw;
    text-align: center;
    
   
}
.propsp1{
    /*border: 1px solid black;*/
    height: 30vw;
    display: flex;
    width: 100vw;
    
   
}

.pp1{
    border: 1px solid hsl(188,47%,20%);
    height: 28vw;
    width: 24%;
    border-radius: 0.5vw;
   box-shadow: 0 0.5vw 6px  hsl(188,47%,20%);
   margin-top: 1vw;
   margin-left: 6%;
   transition: 0.5s;
   transition-property: margin-top;
   background-color: white;
}
.pp1:hover{
    margin-top: 1.5vw;
}
.pp1 img{
    height: 7vw;
    margin-left: 32%;
    margin-top: 2vw;
}
.pp1 h3{
    font-family: 'Roboto', sans-serif; 
    margin-left: 35%;
    font-size: 1.8vw;
    
}
.pp1 span{
    display: block;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2vw;
   
    width: 90%;
    line-height: 1.6vw;
  

}
.pp1 span:not(:first-child){
    margin-top: 0.2vw;
}
.pp2{
    border: 1px solid hsl(188,47%,20%);
    height: 28vw;
    width: 24%;
    border-radius: 0.5vw;
   
   margin-top: 1vw;
   margin-left: 6%;
   color: white;
   background-color: hsl(188,47%,20%);
   transition: 0.5s;
   transition-property: margin-top;
}
.pp2:hover{
    margin-top: 1.5vw;

}
.pp2 img{
    height: 7vw;
    margin-left: 37%;
    margin-top: 2vw;
}
.pp2 h3{
    font-family: 'Roboto', sans-serif; 
    
    font-size: 1.8vw;
    text-align: center;
    
}
.pp2 span{
    display: block;
    margin-left: 7%;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2vw;
    
    width: 90%;
    line-height: 1.6vw;
    

}
.pp2 span:not(:first-child){
    margin-top: 0.2vw;
}



.pp3{
    border: 1px solid hsl(188,47%,20%);
    height: 28vw;
    width: 24%;
    border-radius: 0.5vw;
    box-shadow: 0 0.5vw 6px  hsl(188,47%,20%);
   margin-top: 1vw;
   margin-left: 6%;
   transition: 0.5s;
   transition-property: margin-top;
   background-color: white;
   
   
  
}
.pp3:hover{
    margin-top: 1.5vw;
}
.pp3 img{
    height: 6.5vw;
    margin-left: 37%;
    margin-top: 2vw;
}
.pp3 h3{
    font-family: 'Roboto', sans-serif; 
    margin-left: 39%;
    font-size: 1.8vw;
    
}
.pp3 span{
    display: block;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2vw;
    
    width: 90%;
    line-height: 1.6vw;
   

}
.pp3 span:not(:first-child){
    margin-top: 0.2vw;
}
.talentp{
  
    height: 30.5vw;
    margin-top: 3vw;
    display: flex;
   /* border: 1px solid black;*/
}
.talentp1{

    height: 100%;
    width: 50%;
}
.talentp2{
  
    height: 100%;
    width: 50%;
}
.talentp1 h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    margin-left: 12%;
   
    height: 3.5vw;
 
}
.talentp1 h4{
    font-family: 'Roboto', sans-serif;
    color: hsl(188,47%,20%);
    font-size: 1.3vw;
    margin-left: 12%;
   

}
.talentp1 .talentdesks span{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    margin-left: 12%;
}
.talentp1 .talentphones span{
    display: none;
}

.talentp1 span:not(:first-child){
    margin-top: 0.3vw;
}
.talentp2 .blob{
    height: 28vw;
    border: 1px solid black;
    width: 70%;
    margin-left: 15%;
    overflow: hidden;
    margin-top: 2vw;
}
.talentp2 img{
    position: absolute;
    height: 28vw;
}
.tpbuton{
  margin-left: 12%;
  margin-top: 2vw;
}
.tpbuton .b1{
    font-family: 'Roboto', sans-serif;
    height: 2.5vw;
    width: 10vw;
    font-size: 1.2vw;
    border: 1px solid hsl(188,47%,20%);
    font-weight: 600;
    background-color: hsl(188,47%,20%);
    margin-top: 3vw; 
    color: white;
    border-radius: 0.1vw;
}
.tpbuton .b2{
    font-family: 'Roboto', sans-serif;
    height: 2.5vw;
    width: 10vw;
    font-size: 1.2vw;
    border: 1px solid hsl(188,47%,20%);
    font-weight: 600;
    background-color: white;
  
    margin-top: 3vw; 
    color: hsl(188,47%,20%);
    border-radius: 0.1vw;
}
.bakcolor{
    background-color: hsl(37,42%,94%);
}



.recruitp{
    height: 35vw;
   
    display: flex;
    font-family: 'Roboto', sans-serif;
   
}
.recruitp1{
    height: 100%;
    width: 50%;
    
}
.recruitpp1{
    display: none;
}
.recruitp2{
    height: 100%;
    width: 50%;
  
}

.recruitp1 img{
    height: 28vw;
    margin-top: 4.8vw;
    margin-left: 7%;
    position: absolute;

}
.recruitp1 .clipp{
    
    height: 0%;
    width: 0%;

   border-left: 15vw solid hsl(188,47%,20%);
   /*border-right: 1vw solid purple;*/
   border-bottom: 15vw solid transparent;
   border-right: 15vw solid transparent;
   margin-top: 3vw;
   margin-left: 11%;
   

   
}
.recruitp2 h2{
    font-size: 2vw;
    margin-left: 4%;
   margin-top: 4vw;
   
   

}
.recruitp2 .recruitdeskp span{
   
        display: block;
        
        font-size: 1.2vw;
        margin-left: 4%;


    }
    .recruitp2 .recruitphones span{
        display: none;
    }

    .recruitp2 span:not(:first-child){
        margin-top: 0.3vw;
    }
    .recruitp2 button{
        height: 2.5vw;
        width: 10vw;
        font-size: 1.2vw;
        border: 1px solid hsl(188,47%,20%);
        font-weight: 600;
        background-color: hsl(188,47%,20%);
        margin-top: 7vw; 
        color: white;
        border-radius: 0.1vw;
        margin-left: 4%;
    }

    .remotep{
        font-family: 'Roboto', sans-serif;
        padding-top: 5vw;
        display: flex;
        height: 35vw;
    }
    .remotep1{
        
        width: 48%;
        height: 100%;

    }
    .remotep2{
       
        width: 52%;
        height: 100%;
    }
    .remotep h2{
        font-size: 2vw;
        margin-left: 10%;

    }
    .remotep1 .remotdesks span{
   
        display: block;
        
        font-size: 1.2vw;
        margin-left: 10%;


    }
    .remotep1 .remotephones span{
        display: none;
    }
    .remotep1 span:not(:first-child){
        margin-top: 0.3vw;

    }
    .remotep1 button{
        height: 2.5vw;
        width: 10vw;
        font-size: 1.2vw;
        border: 1px solid hsl(188,47%,20%);
        font-weight: 600;
        background-color: hsl(188,47%,20%);
        margin-top: 7vw; 
        color: white;
        border-radius: 0.1vw;
        margin-left: 10%;
    }
    .remotep2 img{
        height: 28vw;
        margin-top: 2vw;
        margin-left: 1.3%;
        position: absolute;
    
    }
    .remotepclip{
        height: 0%;
        width: 0%;
    
       border-left: 15vw solid transparent;
       /*border-right: 1vw solid purple;*/
       border-bottom: 15vw solid transparent;
       border-right: 15vw solid hsl(188,47%,20%);
       margin-top: 0.5%;
       margin-left: 29%; 
    }
    .employeep{
        color: white;
       margin-top: 2vw;
        height: 38vw;
        font-family: 'Roboto', sans-serif;
        display: flex;
        background-color: hsl(188,47%,20%);
    }
    .employeep1{
        height: 100%;
        width: 47%;
     
    
    }
    .phonetest{
        display: none;
    }
    .employeep1p{
        display: none;
    }
    .employeep2{
        height: 100%;
        width: 53%;
        
    }
    .empimg{
        border: 1px solid hsl(40,26%,68%);
        height: 37vw;
        margin-top: 6.5vw;
        width: 37vw;
        border-radius: 50%;
        margin-left: -10%;
        background-color: hsl(40,26%,68%);
    }
    .empimgin{
        border: 1px solid hsl(40,26%,68%);
        height: 36vw;
        margin-top: 0.7vw;
        width: 36vw;
        border-radius: 50%;
        background-image: url("/images/enkariemployee.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .employeep2 h2{
        font-size: 2vw;
        margin-top: 5vw;
    }
    .employeep2 .employerdesks  span{
        display: block;
        
        font-size: 1.2vw;
      
    }
    .employeep2 .employerphones  span{
        display: none;
    }
    

    .employeep2 span:not(:first-child){
        margin-top: 0.4vw;
    }
    .employeep2 button{
        height: 2.5vw;
        width: 10vw;
        font-size: 1.2vw;
        border: 1px solid white;
        font-weight: 600;
        background-color: white;
        margin-top: 7vw; 
        color:  hsl(188,47%,20%);
        border-radius: 0.1vw;
        margin-left: 0%;
    }
   
    
     
    
    .reviewsp{
        
        height: 43vw;
        margin-top: 10vw;
        font-family: 'Roboto', sans-serif;
       
    }
    .reviewsp h2{
        text-align: center;
        font-size: 3vw;
    }
    .testmoup{
        height: 33vw;
      
      position: absolute;
      background-color: transparent;
      width: 100%;
    

    }
    .testmo{
        height: 33vw;
       
        display: flex;
    }
    .testmo1{
        height: 100%;
        width: 50%;
   
    }
    .testmo2{
        height: 100%;
        
        width: 50%;
    }
    .testcar1,.testcar2,.testcar3{
        border: 1px solid black;
        width: 30vw;
        height: 18vw;
        margin-top: 7VW;
        margin-left: 10%;
        border-radius: 0.5vw;
      
    }
    .testcar1{
        background-color:  hsl(188,47%,20%);
        color: white;
    }
    .testcar1{
        margin-left: 34.4%;
        margin-top: 1vw;
    }
    .testcar3{
        margin-left: 28%;
    }
    .testcar1 h2,.testcar2 h2,.testcar3 h2{
       
        margin-top: 0vw;
        font-size: 7vw;
        height: 0vw;
    }
 
    .testcar1 p,.testcar2 p,.testcar3 p{
        font-size: 1.5vw;
      
        width: 95%;
       margin-left: 2%;
    
       margin-top: 0;
       line-height: 2vw;
       font-style: italic;

    }
    .testcar3 p{
        margin-left: 4%;
        width: 93%;
    }
    .testcar2 p{
        width: 94%;
    }
    .personp,.personp1,.personp3{
        height: 10vw;
        width: 15vw;
       
        position: absolute;
        margin-left: 42%;
        margin-top: 15vw;
        text-align: center;
        


    }
    .personp1{
        margin-left: 13%;
        margin-top: 22vw;
    }
    .personp3{
        margin-left: 22%;
        margin-top: 22vw;
    }
    .ppimg,.ppimg1,.ppimg3{
        height: 6vw;
        width: 6vw;
       border-radius: 50%;
       border: 3px solid  hsl(40,26%,68%);
       margin-left: 30%;
       background-image: url("/images/baltmore.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: right;
    }
    .ppimg1{
        background-image: url("/images/black-businessman-g8f41d08c2_1280.jpg");
        background-position: center;
    }
    .ppimg3{
        background-image: url("https://briefscoop.files.wordpress.com/2018/10/image-3.jpg?w=360&h=360&crop=1");
        background-position: center;
    }
    .personp h3,.personp1 h3,.personp3 h3{
        font-size: 1vw;
    }

    footer{
        background-color: hsl(188,47%,20%);
        color: white;
      
        height: 30vw;
       border: 1px solid hsl(188,47%,20%);
        display: flex;
        font-family: 'Roboto', sans-serif;
    }
    .f1,.f2,.f3{
       
        width: 33.3%;
        height: 100%;
        
    }
    .flogo{
        
        display: flex;
        margin-top: 9vw;
        

    }
    .flogo img{
      height: 5vw;
      margin-top: 0.5vw;
      margin-left: 25%;
      
    }
    .flogo h3{
        font-size: 2.3vw;
        margin-left: 3%;
      
    }
    .fsocial{
        display:  flex;
        
    }
    .fsocial img{
        height: 2.5vw;
    }
    .fsocial a{
        display: block;
    }
    .ftunner{
      margin-left: 32%;
    }
    .fsocial a:not(:first-child){
        margin-left: 1vw;
    }
    .call{
        display: flex;
       
        width: 70%;
        margin-left: 10%;
    }
    .call:not(:first-child){
        margin-top: 0.7vw;
    }
    .call img{
        height: 2vw;
    }
    .call a{
        margin-top: 0.5vw;
        margin-left: 2%;
        text-decoration: none;
        color: white;
        font-size: 1.2vw;
    }
    .f1 a{
        text-decoration: none;
        color: white;
    }

    .f1 a:hover{
        color: white;
    }
    
    .f2 h3,.f3 h3{
       font-size: 1.5vw;
       margin-top: 6vw;
       margin-left: 10%;
    }
    .f2 p{
        margin-left: 10%;
        font-size: 1.2vw;
       
        width: 25vw;
        line-height: 1.5vw;
    }

    .f2 button{
        margin-left: 10%;
        margin-top: 2vw;
        font-size: 1.5vw;
        font-weight: 700;
        color: white;
        background-color: hsl(188,47%,20%);
        border: 1px solid white;
        padding: 1vw;
        cursor: pointer;
    }
    .f2 button:hover{
        background-color: white;
        color: hsl(188,47%,20%);
    }
    .f3 a{
        display: block;
        text-decoration: none;
        font-weight: 700;
        margin-left: 10%;
        color: white;
        font-size: 1.2vw;

    }
    .f3 a:not(:first-child){
        margin-top: 0.5vw;
    }
    footer a:hover{
      color: hsl(40,26%,68%);
    }
    .lastfooter{
        height: 3vw;
        background-color: hsl(40,26%,68%);
    }
    .lastfooter span{
        margin-top: 0vw;
        color: white;
        display: block;
        width: 50%;
     
        margin-left: 80%;
        font-size: 1vw;
        font-family: 'Roboto', sans-serif;
        padding-top: 0.8vw;
      
    }


    /*ABOT PAGE*/
    /*********************/
    .heada{
  
        width: 40%;
        margin-top: 9%;
        margin-left: 7%;
        transition: 1.5s;
        transition-property: margin-top;
        
    }
    .heada:hover{
        margin-top: 7%;
    }
    .heada h1{
        font-family: 'Roboto', sans-serif;
        font-size: 3.8vw;
        height: 2.2vw;
    }
    #aboutnav{
        color: hsl(229,43%,30%);
    }
    #aboutnav:hover{
        color: hsl(40,26%,68%);
    }
   #ppn2{
        margin-left: 2vw;
        color: hsl(229,43%,30%);
    }
    #ppn2:hover{
        color: hsl(40,26%,68%);
    }
    #navbeta2,#navbeta3,#navbeta1{
        border: 1px solid blueviolet;
        font-size: 0.7vw;
        background-color: white;
        padding: 0.1vw;
        border-radius: 0.3vw;
    }
    .aboutus{
        
        width: 45vw;
        height: 15vw;
        margin-top: 5vw;
        margin-left: 50%;
        padding-bottom: 5vw;
    }
    .aboutus .aboutusdesk span{
      
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 1.19vw;
        line-height: 1.6vw;
            
        
    }
    .aboutus .aboutphones span{
        display: none;

    }


    /*ABOUT PAGE*/
    .headerabout{

        
   
        height: 2vw;
        overflow: hidden;
       
    }
    .backgroudcolorsetter{
        background-color: hsl(37,42%,94%);
    }
  .aboutmain{
    background-color: hsl(37,42%,94%);
  
    height: 80vw;
    overflow: hidden;
    display: flex;
   
    
  }
    .aboutsection1,.aboutsection2
    {
        width: 50%;
        height: 70vw;
        
    }
    .aboutsec11{
        
        height: 40vw;
        background: linear-gradient( to right,hsla(188,47%,20%,0.7),hsla(188,47%,20%,0.7)),
        url("/images/women-g46271ea21_1920.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* border-radius: 8px;
        position: relative;
        left: 0; */
        }
    .aboutsection2 h2{
      /* color: #ffff;*/
     
       font-family: 'Roboto', sans-serif;
       font-size: 2vw;
       text-align: center;
       margin-top: 3vw;
    }
    .missionspan{
       
        margin: auto;
        width: 77%;
        height: 10vw;
    }
    .missionspan span{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 1.19vw;
        line-height: 1.6vw;

    }
    .aboutsec22{
       
        height: 40vw;
       /* background-color: ;*/
       background: linear-gradient( to right,hsla(40,26%,68%,0.6),hsla(40,26%,68%,0.6)),
       url("/images/goal-g8d27ea252_1280.jpg");
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
        margin-top: 10vw;
        border-radius: 8px;
        position: relative;
        right: 0;
        
    }
    .aboutsec11h2{
        font-family: 'Roboto', sans-serif;
       font-size: 2vw;
       text-align: center;
       margin-top: 12vw;
      
    }
    .missionspan22{
        margin: auto;
        width: 77%;
        height: 14vw;
        
    }
    .missionspan22 span{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 1.19vw;
        line-height: 1.6vw;

    }

/*Contact part*/
.contaset{
    position: relative;
}
    .contactsupport{
        height: 0vh;
        width: 0vw;
       position: fixed;
       
        background-color: hsla(0,0%,100%,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        overflow: hidden;
        z-index: 999;
    }
    .contactsupport.addedhove{
        height: 100vh;
        width: 100vw;
    }
    .innersupport{
        border: 1px solid hsla(0,0%,0%,0.1);
        height: 45vw;
        width: 70vw;
        margin-top: 1vw;
        display: flex;
        
    }
    .innersupport1{
      
        width: 50%;
        background-color: hsl(188,47%,20%);
    
    }
    .innersupport1 h1{
        color: whitesmoke;
        
        font-size: 3vw;
        margin-left: 10%;
    
    }
    .deco{
       
        height: 20vw;
        margin-top: 4vw;
    }
    
    .deco img{
        height: 10vw;
        margin-left: 30%;
    }
    .setelll{
        display: none;
    }
    .innersupport2{
       
        width: 50%;
        background-color: whitesmoke;
    }
    .innersupport2 h2{
     
        color: black;
        font-size: 2vw;
        margin-left: 2vw;
        margin-top: 4vw;
    }
    #subject,#email,#lname,#lnumber{
      width: 30vw;
      margin-left: 2vw;
      margin-top: 1vw;
      border: 1px solid hsla(188,47%,20%,0.5);
      height: 2vw;
    
      font-size: 1.2vw;
      text-align: center;
      
    }
    #subject:not(:first-child){
        margin-top: 2vw;
    }
    .messend{
        position: absolute;
        display: block;
        font-family: sans-serif;
        font-size: 1vw;
        margin-left: 3%;
        color: hsla(0,0%,0%,0.6);
        margin-top: 1vw;
    }
    #sumessage{
        width: 30vw;
        margin-left: 2vw;
        margin-top: 2vw;
        border: 1px solid hsla(188,47%,20%,0.5);
        padding: 1vw;
        font-size: 1.2vw;
        font-family: sans-serif;
        
    }
    #sumessage:focus{
        outline: none;
    }
    #susubmitb{
        border: 1px solid  hsl(188,47%,20%);
        
        width: 10vw;
        height: 2vw;
        margin-top: 1vw;
        margin-left: 65%;
        font-size: 1.3vw;
        font-weight: 700;
        background-color: hsl(188,47%,20%);
        color: whitesmoke;
        border-radius: 10vw;
    
    }
    #susubmitb:hover{
        background-color: whitesmoke;
        color: hsl(188,47%,20%);
        border: 1px solid hsl(188,47%,20%);
    }
    .contactsupport  #suucanncel{
        position: absolute;
        margin-left: 65%;
        margin-top: -40vw;
        cursor: pointer;
        font-size: 2vw;
    }
    .contactsupport #suucanncel:hover{
        color: red;
    }


@media (max-width:500px){
    header{
        height: 118vw;
        background-color: transparent;
        position: absolute;
        width: 100vw;
     
    height: 58vw;


        
    }
    .header{
     
        /*background-color: green;*/
        height: 168vw;
        overflow: hidden;
        background: linear-gradient( to right, hsla(188,47%,20%,1),hsla(188,47%,20%,1),hsla(188,47%,20%,0.5),hsla(188,47%,20%,0.1),hsla(188,47%,20%,0)),
        url("/images/laptop-3196481_1920.jpg");
    
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       
        
        
       
    }
    .headerp{
     
        height: 77vw;
        width: 77vw;
        margin-left: 44%;
       /* background-color: hsla(229,43%,30%,0.8);*/

       background-color: hsl(40,26%,68%);
        border-radius: 55%;
        margin-top: -5vw;
    }
    .headerpin{
        background-color: aliceblue;
        height: 135vw;
        width: 75vw;
        background-image: url("/images/enkarip1.jpg");
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
    .test{
        border: 1px solid black;
        height: 1vw;
        width: 1vw;
        border-radius: 50%;
        margin-top: -10vw;
    
    }
    .navbar{
        height: 10vw;
        background-color: white;
        display: flex;
        width: 100vw;
        background-color: transparent;
        
     
        
    }
    .navbar1{
       
        width: 30%;
    }
    .navbar2{
       
        width: 70%;
    }
    .navbar1 img{
        height: 7vw;
        margin: 4%;
        margin-top: 3vw;
        margin-left: 7%;
        
    }
    /*
    .navbar1 h1{
       font-family: 'Roboto', sans-serif;
        color: hsl(229,43%,30%);
      
        margin-left: 10%;
        font-size: 4.5vw;
       
    }*/
    .navlinks{
        display: none;
       
        width: 43%;
        margin-left: 56%;
        margin-top: 1.3vw;
        
    }

    .navbutton{
       display: block;
        height: 30px;
        background: transparent;
        width: 30px;
        margin-left: 80%;
        margin-top: 3vw;
        border-radius: 5px;
       
    
       
       }
       
       .nav{
          
           height: 2px;
           display: block;
           background-color : hsl(188,47%,20%);
           width: 25px;
           margin: 6px;
           border-radius: 20px;
           -webkit-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
       
       }

        
       .navbutton.active .nav:nth-child(2){
        opacity: 0;
       }
       .navbutton.active .nav:nth-child(1){
        transform:translateY(8px)   rotate(45deg);
       }
       .navbutton.active .nav:nth-child(3){
        transform:translateY(-8px)  rotate(-45deg);
       }

    .navbar2 a{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 1.2vw;
        font-weight: 600;
    }
    .navbar2 a:not(:last-child){
        margin-left: 1vw;
    }
    .navbar2 a:hover{
        color: blue;
    }
    .signup{
        margin-left: 1vw;
        font-family: 'Roboto', sans-serif;
        height: 2.5vw;
        width: 8vw;
        font-size: 1.2vw;
        border-radius: 7vw;
        border: 1px solid white;
        font-weight: 600;
        color: hwb(229 17% 57%);
        
    }
    .signup:hover{
     background-color: hsl(229,43%,30%);
     border: transparent;
    }
    .head{
      
        width: 64%;
        margin-top: 35%;
        margin-left: 6%;
        transition: 1.5s;
        transition-property: margin-top;
        
       
      
        
    }
    .head:hover{
        margin-top: 50%;
    }
    .pnavlinks{
       display: block;
        height: 0vw;
        background-color: hsl(188,47%,20%);
        position: absolute;
        width: 100%;
        transition: 0.3s;
        transition-property: height;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
       
    }
    .pnavlinks.active{
         height: 90vw;
    }
    .pnavlinks a{
        display: block;
        color: white;
        
        text-align: center;
        margin-top: 6vw;
        text-decoration: none;
        font-size: 5vw;
        font-weight: 700;
        
        
    }
    .pnavlinks a:hover{
        color: hsl(40,26%,68%);
    }
    .psignup{
        margin-top: 7vw;
        border: 1px solid white;
        width: 55vw;
        height: 8vw;
        border-radius: 15vw;
        font-size: 5vw;
        font-weight: 700;
        color: hsl(188,47%,20%);
    }

   
    .head h1{
        font-family: 'Roboto', sans-serif;
        font-size: 6vw;
       
        height: 4vw;
    }
    .head .headdeskp span{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 1.9vw;
        display: none;
        
        
    }
    .head .headphones span{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 3.1vw;
        color: white;
        


    }

    .head span:not(:first-child){
        margin-top: 0.5vw;
    }
    .head button{
       
        font-family: 'Roboto', sans-serif;
        height: 7vw;
        width: 25vw;
        font-size: 3vw;
     
        font-weight: 600;
       
        margin-top: 7vw; 
        color: white;
        border-radius: 0.5vw;
    }




    .propsp{
        
   
        /* height: 10vw;*/
        margin-top: 10vw;
        padding-bottom: 20vw;
        margin-top: 0vw;
     }
     .propsp h1{
         background-color: transparent;
         font-size: 6vw;
         text-align: center;
         
    
        
     }
     .propsp1{
      
         height: 245vw;
         display: block;
       
        
     }
     .pp1{
         
         height: 75vw;
         width: 70%;
         border-radius: 2vw;
        box-shadow: 0 1.5vw 6px  hsl(188,47%,20%);
        margin-top: 5vw;
        margin-left: 15%;
     }
     .pp1:hover{
        margin-top: 5vw;
     }
     .pp1 img{
         height: 15vw;
         margin-left: 40%;   
         margin-top: 5vw;
     }
     .pp1 h3{
        
         margin-left: 38%;
         font-size: 5vw;
         
     }
     .pp1 span{
         display: block;
         margin-left: 6%;
         font-family: 'Roboto', sans-serif; 
         font-size: 3.5vw;
         width: 89%;
         line-height: 5vw;
       
     
     }
     .pp1 span:not(:first-child){
         margin-top: 0.5vw;
     }
     .pp2{
       
         height: 77vw;
         width: 70%;
         border-radius: 2vw;
        
        margin-top: 10vw;
        margin-left: 15%;
        color: white;
        background-color: hsl(188,47%,20%);
     }
     .pp2:hover{
        margin-top: 10vw;
     }
     .pp2 img{
         height: 15vw;
         margin-left: 41%;
         margin-top: 5vw;
     }
     .pp2 h3{
       
        text-align: center;
         font-size: 5vw;
         
     }
     .pp2 span{
         display: block;
         margin-left: 6%;
         font-size: 3.5vw;
        
         width: 88% ;
         line-height: 5vw;
     
     }
     .pp2 span:not(:first-child){
         margin-top: 0.5vw;
     }
     
     
     
     .pp3{
       
         height: 75vw;
         width: 70%;
         border-radius: 2vw;
         box-shadow: 0 1.5vw 6px  hsl(188,47%,20%);
        margin-top: 10vw;
        margin-left: 15%;
        /***/
        
       
     }
     .pp3:hover{
        margin-top: 10vw;
     }
     .pp3 img{
         height: 15vw;
         margin-left: 42%;
         margin-top: 5vw;
     }
     .pp3 h3{
       
         margin-left: 40%;
         font-size: 5vw;
         
     }
     .pp3 span{
         display: block;
         margin-left: 6%;
       
         font-size: 3.5vw;
         width: 89%;
         line-height: 5vw;
     
     }
     .pp3 span:not(:first-child){
         margin-top: 0.5vw;
     }


     .talentp{
  
        height: 130vw;
        margin-top: 15vw;
        display: block;
      
    }
    .talentp1{
    
        height: 60vw;
        width: 100vw;
      
    }
    .talentp2{
      
        height: 70%;
        width: 100vw;
        
    }
    .talentp1 h2{
        font-family: 'Roboto', sans-serif;
        font-size: 4.1vw;
        margin-left: 6%;
       
        height: 5vw;
     
    }
    .talentp1 h4{
        font-family: 'Roboto', sans-serif;
        color: hsl(188,47%,20%);
        font-size: 3.5vw;
        margin-left: 6%;
       
    
    }
    .talentp1 .talentdesks span{
        display: none;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5vw;
        margin-left: 6%;
    }
  
    .talentp1 .talentphones span{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 3.2vw;
        margin-left: 6%;
        width: 90%;
    }
    .talentp1 span:not(:first-child){
        margin-top: 0.5vw;
    }
    .talentp2 .blob{
        height: 65vw;
        border: 1px solid black;
        width: 85%;
        margin-left: 6%;
        overflow: hidden;
    }
    .talentp2 img{
        position: absolute;
        height: 65vw;
    }
    .tpbuton{
      margin-left: 6%;
      margin-top: 4vw;
    }
    .tpbuton .b1{
        font-family: 'Roboto', sans-serif;
        height: 7vw;
        width: 25vw;
        font-size: 3vw;
      
        font-weight: 600;
        
        margin-top: 7vw; 
        color: white;
        border-radius: 0.5vw;
    
    }
    .tpbuton .b2{
        font-family: 'Roboto', sans-serif;
        height: 7vw;
        width: 25vw;
        font-size: 3vw;
       
        font-weight: 600;
        background-color: white;
        margin-top: 7vw; 
        
        border-radius: 0.5vw;
       
    }

/*recrut p*/

.recruitp{
    height: 125vw;
    margin-top: 17vw;
  
    display: block;
    font-family: 'Roboto', sans-serif;
}

.recruitpp1{
    display: block;
 
    height: 65vw;
    width: 100%;
 
    
}
.recruitp1{
    display: none;
    height: 50vw;
    width: 100%;
   
    
}
.recruitp2{
   
    height: 55vw;
    width: 100%;
   
  
}
.visible{
    display: none;
}


.recruitpp1 img{
    height: 55vw;
    margin-top: 3.5vw;
    margin-left: 9%;
    position: absolute;

}
.recruitpp1 .clipp{
    
    height: 0%;
    width: 0%;

   border-left: 30vw solid hsl(188,47%,20%);
   /*border-right: 1vw solid purple;*/
   border-bottom: 30vw solid transparent;
   border-right: 30vw solid transparent;
   margin-top: 3vw;
   margin-left: 6%;
   

   
}
.recruitp2 h2{
    font-size: 4.1vw;
    margin-left: 6%;
   
   
   
   

}
.recruitp2 .recruitdeskp  span{
    display: none;
    font-size: 2.5vw;
    margin-left: 6%;


    }


    .recruitp2 .recruitphones span{
        display: block;
        font-size: 3.2vw;
        margin-left: 6%;
        width: 90%;
    }
    .recruitp2 span:not(:first-child){
        margin-top: 0.5vw;
    }
    .recruitp2 button{
        height: 7vw;
        width: 25vw;
        font-size: 3vw;
        
        font-weight: 600;
      
        margin-top: 10vw; 
        color: white;
        border-radius: 0.5vw;
        margin-left: 6%;
    }


    /*remote part*/
    .remotep{
       
        font-family: 'Roboto', sans-serif;
        padding-top: 18vw;
        display: block;
        height: 125vw;
    }
    .remotep1{
        
        width: 100%;
        height: 60vw;
       

    }
    .remotep2{
       
        width: 100%;
        height: 60vw;
       

    }
    .remotep h2{
        font-size: 4.1vw;
    margin-left: 6%;

    }
    .remotep1 .remotdesks span{
   
        display: none;
        font-size: 2.5vw;
        margin-left: 6%;


    }
    .remotep1  .remotephones span{
        display: block;
        font-size: 3.2vw;
        margin-left: 6%;
        font-family: 'Roboto', sans-serif;
        width: 90%;
    }
    .remotep1 span:not(:first-child){
        margin-top: 0.3vw;

    }
    .remotep1 button{
        height: 7vw;
        width: 25vw;
        font-size: 3vw;
        
        font-weight: 600;
        
        margin-top: 10vw; 
        color: white;
        border-radius: 0.5vw;
        margin-left: 6%;
    }
    .remotep2 img{
        height: 55vw;
    margin-top: 3.5vw;
    margin-left: 6%;
    position: absolute;
    
    }
    .remotepclip{
        height: 0%;
        width: 0%;
    
       border-left: 30vw solid transparent;
       /*border-right: 1vw solid purple;*/
       border-bottom: 30vw solid transparent;
       border-right: 30vw solid hsl(188,47%,20%);
       margin-top: 0.5%;
       margin-left: 32%; 
    }

    /*employeep*/

    .employeep{
   
     
        height: 149vw;
        display: block;
        margin-top: 10vw;
       
    }
    .phonetest{
        visibility: hidden;
        display: block;
    }
    .employeep1{
        height: 60vw;
        width: 47%;
        
        display: none;
     
    }
    .employeep1p{
        height: 60vw;
        width: 100%;
        display: block;
       
        
    }
    .employeep2{
        height: 70vw;
        width: 100%;
        
        
    }
    .empimgp{
       
        height: 81vw;
        margin-top: 12vw;
        width: 81vw;
        border-radius: 50%;
        margin-left: -10%;
        background-color: hsl(40,26%,68%);
    }
    .empimginp{
        border: 1px solid hsl(40,26%,68%);
        height: 79vw;
        margin-top: 0.7vw;
        width: 79vw;
        border-radius: 50%;
        background-image: url("/images/enkariemployee.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .employeep2 h2{
        font-size: 4.1vw;
    margin-left: 6%;
    }

   

    .employeep2 .employerdesks span{
        display: none;
        font-size: 2.5vw;
        margin-left: 6%;
      
    }
    
    .employeep2 .employerphones  span{
        display: block;
        font-size: 3.2vw;
        margin-left: 6%;
        width: 91%;
        
    }
    .employeep2 span:not(:first-child){
        margin-top: 0.4vw;
    }
    .employeep2 button{
        height: 7vw;
        width: 25vw;
        font-size: 3vw;
        border: 1px solid white;
        font-weight: 600;
        background-color: white;
        margin-top: 10vw; 
        color: hsl(188,47%,20%);
        border-radius: 0.5vw;
        margin-left: 6%;
    }
    

    /*REvies part*/



    .reviewsp{
        
        height: 103vw;
        margin-top: 18vw;
       
      
       
    }
    .reviewsp h2{
       
        font-size: 5vw;
    }
    .testmoup{
        height: 100vw;
  
     
      width: 100%;
    

    }
    .testmo{
        height: 100vw;
      
       
        display: flex;
    }
    .testmo1{
        height: 100%;
        width: 50%;
   
    }
    .testmo2{
        height: 100%;
       
        
        width: 50%;
    }
    .testcar1,.testcar2,.testcar3{
      
        width: 40vw;
        height: 28vw;
        margin-top: 43vw;
        margin-left: 10%;
        border-radius: 1vw;
      
    }
    .testcar1{
       
      
        margin-left: 30%;
        margin-top: 1vw;
    }
 
    .testcar3{
        margin-left: 8%;
    }
    .testcar1 h2,.testcar2 h2,.testcar3 h2{
       
        margin-top: 0vw;
        font-size: 10vw;
        height: 0vw;
    }
 
    .testcar1 p,.testcar2 p,.testcar3 p{
        font-size: 2.2vw;
       
      
        width: 95%;
       margin-left: 3%;
    
       margin-top: 0;
       line-height: 2.5vw;
     

    }
    .testcar3 p{
        margin-left: 3%;
        width: 93%;
    }
    .testcar2 p{
        width: 94%;
    }
    .personp,.personp1,.personp3{
        height: 18vw;
        width: 25vw;
      
      
        margin-left: 37%;
        margin-top: 22vw;
      
        


    }
    .personp1{
        margin-left: 13%;
        margin-top: 65vw;
    }
    .personp3{
        margin-left: 12%;
        margin-top: 65vw;
    }
    .ppimg,.ppimg1,.ppimg3{
        height: 10vw;
        width: 10vw;
       
       border: 3px solid hsl(40,26%,68%);
       margin-left: 30%;
      
    }
  
    .personp h3,.personp1 h3,.personp3 h3{
        font-size: 1.6vw;
    }


    /*foooter part*/

    footer{
       
   
      
        height: 165vw;
   
       
        display: block;
       
    }
    
    .f1{
     
        width: 100%;
        height: 40vw; 
      
    }
    .f2{
    
        width: 100%;
        height: 57vw; 
       
    }
    .f3{
      
        width: 100%;
        height: 42vw; 
       
    }
  
    .flogo{
        
        display: flex;
        margin-top: 9vw;
        
        

    }
    .flogo img{
      height: 12vw;
      margin-top: 4vw;
      margin-left: 15%;
      
    }
    .flogo h3{
        font-size: 7vw;
        margin-left: 3%;
      
    }
    .fsocial{
        display:  flex;
        
    }
    .fsocial img{
        height: 6vw;
    }
    .fsocial a{
        display: block;
    }
    .ftunner{
      margin-left: 32%;
    }
    .fsocial a:not(:first-child){
        margin-left: 3vw;
    }
    .call{
        display: flex;
       
        width: 70%;
        margin-left: 15%;
    }
    .call:not(:first-child){
        margin-top: 1.5vw;
    }
    .call img{
        height: 5vw;
    }
    .call a{
        margin-top: 0.5vw;
        margin-left: 4%;
        text-decoration: none;
        color: white;
        font-size: 3.5vw;
    }
    .f2 h3,.f3 h3{
       font-size: 4.5vw;
       margin-top: 6vw;
       margin-left: 15%;
    }
    .f2 p{
        margin-left: 15%;
        font-size: 3.5vw;
        width: 75%;
        line-height: 5vw;
    }

    .f2 button{
        margin-left: 15%;
        margin-top: 2vw;
        font-size: 4vw;
        font-weight: 700;
        color: white;
        background-color: hsl(188,47%,20%);
        border: 1px solid white;
        padding: 3vw;
        cursor: pointer;
    }
    .f3 a{
        display: block;
        text-decoration: none;
        font-weight: 700;
        margin-left: 15%;
        color: white;
        font-size: 3.5vw;
        

    }
    .f3 a:not(:first-child){
        margin-top: 1vw;
    }
    footer a:hover{
      color: hsl(40,26%,68%);
    }
    .lastfooter{
        height: 7.5vw;
        background-color: hsl(40,26%,68%);
    }
    .lastfooter span{
        margin-top: 0vw;
        color: white;
        display: block;
        width: 50%;
     
        margin-left: 55%;
        font-size: 3vw;
        font-family: 'Roboto', sans-serif;
        padding-top: 2vw;
      
    }


    /*ABOUT US*/
    .headerabout{
        
          height: 12vw;
          overflow: hidden;
   
         
      }
    .heada{
  
        width: 40%;
        margin-top: 17%;
        margin-left: 7%;
        transition: 1.5s;
        transition-property: margin-top;
        
    }
    .heada:hover{
        margin-top: 7%;
    }
    .heada h1{
        font-family: 'Roboto', sans-serif;
        font-size: 5vw;
        height: 2.2vw;
    }
    #aboutnav{
        color: hsl(229,43%,30%);
    }
    #aboutnav:hover{
        color: hsl(40,26%,68%);
    }
   #nav{
     background-color: hsl(188,47%,20%);
   }
   
   #ppn2{
        margin-left: 2vw;
        color: hsl(229,43%,30%);
    }
    #ppn2:hover{
        color: hsl(40,26%,68%);
    }
    #navbeta2{
      
        font-size: 0.7vw;
        background-color: white;
        padding: 0.1vw;
        border-radius: 0.3vw;
    }
    .aboutus{
        
        width: 55vw;
        height: 60vw;
        margin-top: 20vw;
        margin-left: 40%;
      
       
    }
    .aboutus .aboutphones span{
      
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 3.2vw;
        line-height: 3.4vw;
            
        
    }
    .aboutus .aboutusdesk span{
      
        display: none;
      
            
        
    }
 
   
  .aboutmain{
   
    height: 150vw;
    overflow: hidden;
    display: flex;
    
  
   
  }
    .aboutsection1,.aboutsection2{
       
        width: 50%;
        height: 150vw;
    }
    
    .aboutsec11{
       
        height: 60vw;
        background: linear-gradient( to right,hsla(188,47%,20%,0.7),hsla(188,47%,20%,0.7)),
        url("/images/women-g46271ea21_1920.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 4vw;       
    }
    .aboutsection2 h2{
      /* color: #ffff;*/
     
       font-family: 'Roboto', sans-serif;
       font-size: 3.5vw;
       text-align: center;
       margin-top: 8vw;
    }
    .missionspan{
       
        margin: auto;
        width: 85%;
        height: 33vw;
    }
    .missionspan span{
     
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        line-height: 3.4vw;
      

    }
    .aboutsec22{
       
        height: 50vw;
       /* background-color: ;*/
       background: linear-gradient( to right,hsla(40,26%,68%,0.6),hsla(40,26%,68%,0.6)),
       url("/images/goal-g8d27ea252_1280.jpg");
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
        margin-top: 20vw;
        
    }
    .aboutsec11h2{
        font-family: 'Roboto', sans-serif;
       font-size: 3vw;
       text-align: center;
       margin-top: 12vw;
      
    }
    .missionspan22{
        margin: auto;
        width: 85%;
        height: 59vw;
        
        
       
        
    }
    .missionspan22 span{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size:3vw;
        line-height: 3.4vw;

    }

/*contactp*/
    .contactsupport{
        height: 0vh;
        width: 0vw;
       position: fixed;
       
        background-color: hsla(0,0%,100%,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        overflow: hidden;
        z-index: 999;
    }
    .contactsupport.addedhove{
        height: 100vh;
        width: 100vw;
    }
    .innersupport{
        border: 1px solid hsla(0,0%,0%,0.1);
        height: 170vw;
        width: 80vw;
        margin-top: 1vw;
        display: block;
        
    }
    .innersupport1{
      
        width: 100%;
        background-color: hsl(188,47%,20%);
    
    }
    .innersupport1 h1{
        color: whitesmoke;
        
        font-size: 5vw;
        margin-left: 20%;
    
    }
    .deco{
       
        height: 20vw;
        margin-top: 4vw;
    }
    
    .deco img{
        height: 10vw;
        margin-left: 40%;
    }
    .innersupport2{
       height: 125vw;
        width: 100%;
        background-color: whitesmoke;
    }
    .setelll{
        visibility: hidden;
        opacity: 0;
        display: block;
    }
    .innersupport2 h2{
     
        color: black;
        font-size: 4vw;
        margin-left: 2vw;
        margin-top: 1vw;
        font-family: sans-serif;
        padding-top: 1vw;
        position: static;
    }
    #subject,#email,#lname,#lnumber{
      width: 70vw;
      margin-left: 5%;
      margin-top: 5vw;
      border: 1px solid hsla(188,47%,20%,0.5);
      height: 7vw;
      display: block;
    
      font-size: 3.2vw;
      text-align: center;
      
    }
    
    #subject:not(:first-child){
        margin-top: 7vw;
    }

    .messend{
        position: absolute;
        display: block;
        font-family: sans-serif;
        font-size: 3vw;
        margin-left: 5%;
        color: hsla(0,0%,0%,0.6);
        margin-top: 3vw;
    }
    #sumessage{
        width: 68vw;
        margin-left: 5%;
        margin-top: 5vw;
        border: 1px solid hsla(188,47%,20%,0.5);
        padding: 2vw;
        font-size: 3.2vw;
        font-family: sans-serif;
        
    }
    #sumessage:focus{
        outline: none;
    }
    #susubmitb{
        border: 1px solid  hsl(188,47%,20%);
        
        width: 25vw;
        height: 5vw;
        margin-top: 4vw;
        margin-left: 65%;
        font-size: 3vw;
        font-weight: 700;
        background-color: hsl(188,47%,20%);
        color: whitesmoke;
        border-radius: 10vw;
    
    }
    #susubmitb:hover{
        background-color: whitesmoke;
        color: hsl(188,47%,20%);
        border: 1px solid hsl(188,47%,20%);
    }
    .contactsupport  #suucanncel{
        position: absolute;
        margin-left: 70%;
        margin-top: -158vw;
        cursor: pointer;
        font-size: 5vw;
        color: white;
    }
    .contactsupport #suucanncel:hover{
        color: red;
    }


}
